@model GlammyStore.Web.Models.FeaturedProductViewModel

<section class="tovar_section">
    <!-- CONTAINER -->
    <div class="container">
        <h2>Sản phẩm bán chạy</h2>
        <!-- ROW -->
        <div class="row">

            <!-- TOVAR WRAPPER -->
            <div class="tovar_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>
                @for (var i = 0; i < 3; i++)
                {
                    var prod = Model.TopSaleProducts.ElementAtOrDefault(i);

                    if (prod != null) //Tồn tại phần tử i
                    {
                         <!-- TOVAR -->
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot40">
                            <div class="tovar_item">
                                <div class="tovar_img">
                                    <div class="tovar_img_wrapper">
                                        <img class="img" src="@prod.Image" alt="@prod.Name" />
                                        @* Hình thứ 2 *@
                                        <img class="img_h" src="@prod.Image" alt="@prod.Name" />
                                    </div>
                                    <div class="tovar_item_btns">
                                        <div class="open-project-link"><a class="open-project tovar_view" href="javascript:void(0);" data-url="/product/@(prod.Alias)-@(prod.ID).htm">Xem nhanh</a></div>
                                        <a class="add_bag" data-id="@prod.ID" href="javascript:void(0);" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="add_lovelist" data-id="@prod.ID" href="javascript:void(0);" title="Thêm vào danh sách yêu thích"><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="tovar_description clearfix">
                                    <a class="tovar_title" href="/product/@(prod.Alias)-@(prod.ID).htm">@prod.Name</a>
                                    <span class="tovar_price">
                                        @if (prod.PromotionPrice.HasValue && prod.PromotionPrice.Value != 0)
                                        {
                                            <ins>@prod.PromotionPrice.Value.ToString("c0")</ins>
                                            <del>@prod.Price.ToString("c0")</del>
                                        }
                                        else
                                        {
                                            <ins>@prod.Price.ToString("c0")</ins>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div><!-- //TOVAR1 -->

                    }
                }

                <div class="respond_clear_768"></div>

                <!-- BANNER -->
                <div class="col-lg-3 col-md-3 col-xs-6 col-ss-12">
                    <a class="banner type1 margbot30" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner1.jpg" alt="" /></a>
                    <a class="banner type2 margbot40" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner2.jpg" alt="" /></a>
                </div><!-- //BANNER -->
            </div><!-- //TOVAR WRAPPER -->
        </div><!-- //ROW -->

        @if (Model.TopSaleProducts.Count() > 3)
        {
        <!-- ROW -->
            <div class="row">

                <!-- TOVAR WRAPPER -->
                <div class="tovar_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>

                    <!-- BANNER -->
                    <div class="col-lg-3 col-md-3 col-xs-6 col-ss-12">
                        <a class="banner type3 margbot40" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner3.jpg" alt="" /></a>
                    </div><!-- //BANNER -->

                    <div class="respond_clear_768"></div>

                    @for (var i = 3; i < 6; i++)
                    {
                        var prod = Model.TopSaleProducts.ElementAtOrDefault(i);

                        if (prod != null) //Tồn tại phần tử i
                        {
                         <!-- TOVAR -->
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot40">
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="@prod.Image" alt="@prod.Name" />
                                            @* Hình thứ 2 *@
                                            <img class="img_h" src="@prod.Image" alt="@prod.Name" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="javascript:void(0);" data-url="/product/@(prod.Alias)-@(prod.ID).htm">Xem nhanh</a></div>
                                            <a class="add_bag" data-id="@prod.ID" href="javascript:void(0);" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="add_lovelist" data-id="@prod.ID" href="javascript:void(0);" title="Thêm vào danh sách yêu thích"><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="/product/@(prod.Alias)-@(prod.ID).htm">@prod.Name</a>
                                        <span class="tovar_price">
                                            @if (prod.PromotionPrice.HasValue && prod.PromotionPrice.Value != 0)
                                            {
                                                <ins>@prod.PromotionPrice.Value.ToString("c0")</ins>
                                                <del>@prod.Price.ToString("c0")</del>
                                            }
                                            else
                                            {
                                                <ins>@prod.Price.ToString("c0")</ins>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div><!-- //TOVAR1 -->

                        }
                    }


                </div><!-- //TOVAR WRAPPER -->
            </div><!-- //ROW -->
        }
        <!-- ROW -->
        <div class="row">

            <!-- BANNER WRAPPER -->
            <div class="banner_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>
                <!-- BANNER -->
                <div class="col-lg-9 col-md-9">
                    <a class="banner type4 margbot40" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner4.jpg" alt="" /></a>
                </div><!-- //BANNER -->
                <!-- BANNER -->
                <div class="col-lg-3 col-md-3">
                    <a class="banner nobord margbot40" target="_blank" href="http://fb.com/hangxachtayus"><img src="/Assets/Client/images/tovar/banner5.jpg" alt="" /></a>
                </div><!-- //BANNER -->
            </div><!-- //BANNER WRAPPER -->
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section><!-- //TOVAR SECTION -->
