@model IEnumerable<GlammyStore.Web.Models.ProductViewModel>

@if (Model.Count() > 0)
{
<section class="new_arrivals padbot50">
    <!-- CONTAINER -->
    <div class="container">

        <h2>Sản phẩm mới</h2>

        <!-- JCAROUSEL -->
        <div class="jcarousel-wrapper">

            <!-- NAVIGATION -->
            <div class="jCarousel_pagination">
                <a href="javascript:void(0);" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
                <a href="javascript:void(0);" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a>
            </div><!-- //NAVIGATION -->

            <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                <ul>
                    @foreach (var prod in Model)
                    {
                        <li>
                            <!-- TOVAR -->
                            <div class="tovar_item_new">
                                <div class="tovar_img">
                                    <img src="@prod.Image" alt="@prod.Name" />
                                    <div class="open-project-link"><a class="open-project tovar_view" href="javascript:void(0);" data-url="/product/@(prod.Alias)-@(prod.ID).htm">Xem nhanh</a></div>
                                </div>
                                <div class="tovar_description clearfix">
                                    <a class="tovar_title" href="/product/@(prod.Alias)-@(prod.ID).htm">@prod.Name</a>
                                    <span class="tovar_price">
                                        @if (prod.PromotionPrice.HasValue && prod.PromotionPrice.Value != 0)
                                        {
                                            <ins>@prod.PromotionPrice.Value.ToString("c0")</ins>
                                            <del>@prod.Price.ToString("c0")</del>
                                        }
                                        else
                                        {
                                            <ins>@prod.Price.ToString("c0")</ins>
                                        }
                                    </span>
                                </div>
                            </div><!-- //TOVAR -->
                        </li>
                    }
                </ul>
            </div>
        </div><!-- //JCAROUSEL -->
    </div><!-- //CONTAINER -->
</section><!-- //NEW ARRIVALS -->
}
