@model GlammyStore.Web.Infrastructure.Core.PaginationSet<GlammyStore.Web.Models.ProductViewModel>

@{
    var category = (GlammyStore.Web.Models.ProductCategoryViewModel)ViewBag.Category;
    ViewBag.Title = "Danh mục " + category.Name;
    var pageIndex = Model.Page;
    ViewBag.Title = pageIndex == 1 ? category.Name : category.Name + " - Trang " + pageIndex;
    ViewBag.MetaKeyword = pageIndex == 1 ? category.MetaKeyword : category.MetaKeyword + " - Trang " + pageIndex;
    ViewBag.MetaDescription = pageIndex == 1 ? category.MetaDescription : category.MetaDescription + " - Trang " + pageIndex;

    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@section BreakCrumbs{
    <!-- BREADCRUMBS -->
    <section class="breadcrumb women parallax margbot30">
        <!-- CONTAINER -->
        <div class="container">
            <h2>@category.Name</h2>
        </div><!-- //CONTAINER -->
    </section><!-- //BREADCRUMBS -->

}
<!-- //BREADCRUMBS -->
<!-- SHOP BANNER -->
<div class="banner_block margbot15 hidden">
    <a class="banner nobord" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner21.jpg" alt="" /></a>
</div><!-- //SHOP BANNER -->
<!-- SORTING TOVAR PANEL -->
<div class="sorting_options clearfix">
    <!-- COUNT TOVAR ITEMS -->
    <div class="count_tovar_items">
        <p>@category.Name</p>
        <span>@Model.TotalCount sản phẩm</span>
    </div><!-- //COUNT TOVAR ITEMS -->
    <!-- TOVAR FILTER -->
    <div class="product_sort">
        <p>XẾP THEO</p>
        <select class="basic">
            <option value="discount">Khuyến mãi</option>
            <option>Giá: Thấp - Cao</option>
            <option>Giá: Cao - Thấp</option>
            @* ?page=@(Model.Page)&sort=discount *@
        </select>
    </div><!-- //TOVAR FILTER -->
    <!-- PRODUC SIZE -->
    <div id="toggle-sizes">
        <a class="view_box active" href="javascript:void(0);"><i class="fa fa-th-large"></i></a>
        <a class="view_full" href="javascript:void(0);"><i class="fa fa-th-list"></i></a>
    </div><!-- //PRODUC SIZE -->
</div><!-- //SORTING TOVAR PANEL -->
<!-- ROW -->
<div class="row shop_block">
    @foreach (var prod in Model.Items)
    {
        <!-- TOVAR1 -->
        <div class="tovar_wrapper col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 padbot40">
            <div class="tovar_item clearfix">
                <div class="tovar_img">
                    <div class="tovar_img_wrapper">
                        <img class="img" src="@prod.Image" alt="@prod.Name" />
                        @* Hình thứ 2 *@
                        <img class="img_h" src="@prod.Image" alt="@prod.Name" />
                    </div>
                    <div class="tovar_item_btns">
                        <div class="open-project-link"><a class="open-project tovar_view" href="javascript:void(0);" data-url="/product/@(prod.Alias)-@(prod.ID).htm">Xem <span>nhanh</span></a></div>
                        <a class="add_bag" id="btnAddToCart" data-id="@prod.ID" href="javascript:void(0);" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart"></i></a>
                        <a class="add_lovelist" id="add_to_wishlist_button" data-id="@prod.ID" href="javascript:void(0);" title="Thêm vào danh sách yêu thích"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
                <div class="tovar_description clearfix">
                    <a class="tovar_title" href="/product/@(prod.Alias)-@(prod.ID).htm">@prod.Name</a>
                    <span class="tovar_price">
                        @if (prod.PromotionPrice.HasValue && prod.PromotionPrice.Value != 0)
                        {
                            <ins>@prod.PromotionPrice.Value.ToString("c0")</ins>
                            <br />
                            <del>@prod.Price.ToString("c0")</del>
                        }
                        else
                        {
                            <ins>@prod.Price.ToString("c0")</ins>
                        }
                    </span>
                </div>
                <div class="tovar_content">@Html.Raw(prod.Description)</div>
            </div>
        </div><!-- //TOVAR1 -->
    }

</div><!-- //ROW -->

<hr>

<!-- PAGINATION -->
@if (Model.TotalPages > 1)
{
    // Create numeric links
    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

    <div class="clearfix">

        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li>
                    <a href="?page=1" data-toggle="tooltip" title="Trang đầu" aria-label="First">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li>
                    <a href="?page=@(Model.Page-1)" data-toggle="tooltip" title="Trang sau" aria-label="Previous">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            }

            @for (int i = startPageIndex; i <= endPageIndex; i++)
            {
                if (Model.Page == i)
                {
                    <li class="active"><a href="?page=@i" data-toggle="tooltip" title="Trang @i">@i</a></li>
                }
                else
                {
                    <li><a href="?page=@i" data-toggle="tooltip" title="Trang @i">@i</a></li>
                }
            }
            @if (Model.Page < Model.TotalPages)
            {
                <li>
                    <a href="?page=@(Model.Page+1)" data-toggle="tooltip" title="Trang tiếp theo" aria-label="Next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="?page=@Model.TotalPages" data-toggle="tooltip" title="Trang cuối" aria-label="Last">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul><!-- //PAGINATION -->
        <a class="show_all_tovar" href="javascript:void(0);">show all</a>
    </div>
    <hr>
}


<div class="padbot60 services_section_description">
    @Html.Raw(category.Description)
</div>

<!-- SHOP BANNER -->
<div class="row top_sale_banners center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner22.jpg" alt="" /></a></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner23.jpg" alt="" /></a></div>
</div><!-- //SHOP BANNER -->
