@model IEnumerable<GlammyStore.Web.Models.ProductCategoryViewModel>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ParentCats = Model.Where(c => c.ParentID == null);
}

@helper GetSubMenus(IEnumerable<GlammyStore.Web.Models.ProductCategoryViewModel> siteMenu, Nullable<int> parentID)
{
    foreach (var i in Model.Where(a => a.ParentID.Equals(parentID)))
    {
            <li><a href="/category/@(i.Alias)-@(i.ID).htm">@i.Name</a></li>
    }
}

<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->

<!-- PAGE HEADER -->
<section class="page_header">

    <!-- CONTAINER -->
    <div class="container">
        <h3 class="pull-left"><b>@ViewBag.Title</b></h3>

        <div class="pull-right">
            <a href="/">Quay lại trang chủ<i class="fa fa-angle-right"></i></a>
        </div>
    </div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->

@if (ParentCats.Count() > 0)
{
    var count = 0;

    foreach (var cat in ParentCats)
    {
             <!-- PRODUCT CATALOG SECTION -->
            if (count % 2 == 0)
            {
                @Html.Raw("<section class='product_catalog_block'>\n<!-- CONTAINER --><div class='container'>\n<!-- ROW --><div class='row'>");
            }

            count++;

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12 product_catalog_item clearfix">
                <img class="product_catalog_img @cat.Alias" src="@cat.Image" alt="@cat.Name" />
                <p class="product_catalog_title">@cat.Name</p>
                <ul class="product_catalog_list">
                    @GetSubMenus(Model, cat.ID)
                </ul>
            </div>

            if ( count % 2 == 0 || count == Model.Count() )
            {
                @Html.Raw("</div><!-- //ROW -->\n</div><!-- //CONTAINER -->\n</section><!-- //PRODUCT CATALOG SECTION -->");
            }
        
    }
}


<section>
    <!-- CONTAINER -->
    <div class="container">

        <!-- SHOP BANNER -->
        <div class="row top_sale_banners center padbot30">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner22.jpg" alt="" /></a></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner10.jpg" alt="" /></a></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="/Assets/Client/images/tovar/banner23.jpg" alt="" /></a></div>
        </div><!-- //SHOP BANNER -->
    </div><!-- //CONTAINER -->
</section>

@Html.Action("_LastestProducts")